<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
    <script type="text/x-handlebars" data-template-name="question-view">
        {{#if view.content.isFillIn}}
            <img {{bindAttr src="view.content.imageURL" }} />
            <p class="questionText">{{view.content.question}}</p>
            {{view App.FieldView contentBinding="view.content"}}
        {{else}}
            <p class="questionText">{{view.content.question}}</p>
            {{#collection contentBinding="view.content.options" class="questionOptions" tagName="ul"}}
            {{view App.RadioView contentBinding="view.content"}}
            {{/collection}}
        {{/if}}
    </script>
</body>
</html>
